<div class="row">
  <div class="col-xs-3">
    <button class="btn btn-default" (click)="onBack()"><i class="glyphicon glyphicon-arrow-left"></i> Retour</button>
  </div>
  <div class="col-xs-6 text-center">
    <div class="btn-group">
      <a class="btn btn-info" (click)="onButton(1)" [ngStyle]="{backgroundColor: getColor(1)}">1</a>
      <a class="btn btn-info" (click)="onButton(2)" [ngStyle]="{backgroundColor: getColor(2)}">2</a>
      <a class="btn btn-info" (click)="onButton(3)" [ngStyle]="{backgroundColor: getColor(3)}">3</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <img class="img-thumbnail" src="{{player.img}}"/>
  </div>
  <div class="col-xs-10 text-center">
    <h1>{{player.player_name}}</h1>
    <div class="row">
      <div class="col-xs-2">
        <h4>ID : {{player.id}}</h4>
      </div>
      <div class="col-xs-4">
        <h4>Age : {{player.age}} ans ({{player.birthday | date: 'd MMMM y'}})</h4>
      </div>
      <div class="col-xs-3">
        <h4>Taille : {{player.height}} m</h4>
      </div>
      <div class="col-xs-3">
        <h4>Poids : {{player.weight}} kg</h4>
      </div>
    </div>
  </div>
</div>
<div class="row"
      *ngIf="disposition === 1">
</div>
<div class="row"
     *ngIf="disposition === 2">
SALUT 2
</div>
<div class="row"
     *ngIf="disposition === 3">
SALUT 3
</div>
