.btn-info:active{
  background-color: #269abc;
}


#menuPlayer{

}

#headerPlayer{
  background-color: #A1B7C4;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: large;
}

#headerPlayer img{
  max-height: 210px;
}

.contentHeaderPlayer{
  margin-top: 4%;
}

.note{
  text-align: center;
  padding: 2px;
}

.textNote{
  text-align: left;
}

#stats{
  background-color: #A1B7C4;
  border-radius: 5px;
  min-height: 500px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 20px;
}

.contentStats{
  margin-left: 6%;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #A29F61;
  border-radius: 5px;
  font-size: large;

}

.contentStats h4{
  text-align: center;
  color: white;
}

.contentStats .row{
  margin-left: 4px;
  margin-bottom: 4px;
}

