.col-xs-8{
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

.col-xs-2{
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.row{
  border-style: solid;
  border-width: 2px;
  border-color: pink;
}

.btn-info:active{
  background-color: #269abc;
}
